:root{
  --primaryColor : 50A0C8
}

* {

  margin: 0 auto;
  padding: 0;
}

.container {

  max-width: 1200px;
}

header {

  display: flex;
  font-family: "Poppins", sans-serif;;

}

.headerOptions {

  display: flex;
  justify-content: space-around;
} 

.headerOptions > div {
  display:flex;
  justify-content: space-around;
}